<launch>
  <!-- "camera" should uniquely identify the device. All topics are pushed down
       into the "camera" namespace, and it is prepended to tf frame ids. -->
  <arg name="camera" default="XTION" />
  <arg name="depth_frame" default="/$(arg camera)_IR" />
  <arg name="calibration_url"  default="$(find state_filtering)/config/xtion_calib.yaml" />
  <arg name="noise"  default="NONE" />
  <arg name="background"  default="false" />
  <node pkg="render_kinect" name="$(arg camera)" type="move_object" respawn="false" output="screen">
    <param name="depth_frame_id"  type="string"  value="$(arg depth_frame)" />
    <param name="calib_url"  type="string"  value="$(arg calibration_url)" />
    <param name="noise"  type="string"  value="$(arg noise)" />
    <param name="background"  type="bool"  value="$(arg background)" />
    <rosparam command="load" file="$(find render_kinect)/config/sim_config.yaml" />
  </node>
  
  <!-- Load reasonable defaults for the relative pose between cameras -->
  <include file="$(find render_kinect)/launch/kinect_frames.launch">
    <param name="camera" type="string" value="/$(arg camera)"/>
  </include>
</launch>